<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/products.css">
    <style>
        body{
            background-color: #F5F5DC;
        }
    </style>
</head>
<body>
    {{>navbar isAdmin=isAdmin}}
    {{>adminProducts products=products capitalizeFirstLetter=capitalizeFirstLetter}}
</body>
</html>