<div class="searchBar">
    <form method="POST" action="/shop/searchProduct">
        <input class="inputSearch" type="text" name="productToSearch" placeholder="Enter product name to search">
        <button class="searchButton" type="submit">Search</button>
    </form>
</div>