<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/addProducts.css">
</head>

<body>
    {{>navbar isAdmin=isAdmin}}

    <div class="addForm">
        <form action="/admin/add-product" class="addProduct" method="POST" enctype="multipart/form-data">
            <div class="addItem">
                <span>Enter Name: </span><input type="text" class="name" placeholder="Enter name" name="name">
            </div><br>
            <div class="addItem">
                <span>Upload Image: </span><input type="file" class="image" name="image">
            </div><br>
            <div class="addItem">
                <span>Enter Price: </span><input name="price" type="text" placeholder="Enter Price">
            </div><br>
            <div class="addItem">
                <span>Enter Desciption: </span><input placeholder="Enter Description" type="text" class="description" name="description"></input>
            </div><br>
            <button class="addProduct" type="submit">Add Product</button>
        </form>
    </div>
</body>

</html>