<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/products.css">
    <link rel="stylesheet" href="/styles/searchBar.css">
    <style>
        body{
            background-color: #F5F5DC;
        }
    </style>
</head>
<body>
    {{>navbar isAdmin=isAdmin}}
    {{>searchBar}}
    {{>shopProducts products=products}}

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/addToCart.js"></script>
</body>
</html>