.searchBar{
    /* border: 1px solid black; */
    margin: 20px;
}

.inputSearch{
    width: 60%;
    padding: 2px;
    height: 28px;
    margin-top: 7px;
    border-radius: 20px;
    margin-left: 50px;
}

.searchButton{
    width: 30%;
    border-radius: 20px;
}